<launch>
<!--
    <param name="robot_description" textfile="$(find learning_task2)/urdf/power_machine.urdf.xacro"/>
-->
    <param name="robot_description" command="$(find xacro)/xacro $(find power_machine_controller)/urdf/power_machine.urdf.xacro"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
    </include>
    <rosparam file="$(find power_machine_controller)/config/config.yaml" command="load"/>
    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="
        controller/joint_state_controller
        controller/power_machine_controller
  "/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-param robot_description -urdf -model wind_turbine -x 0 -y 0 -z 0"/>


</launch>